.nav-desktop{
    display: block;
}

.nav-desktop ul{
    display:flex;
    list-style: none;
    flex-direction: row;
    gap: 16px;
}
.nav-mobile{
    transform: translateX(-150%);
    transition: transform .5s ease;
}
.nav-mobile ul{
    display:flex;
    list-style: none;
    flex-direction: column;
    gap: 16px;
}
@media(max-width: 40rem){
    .nav-desktop{
        display: none;
    }
}
@media(max-width:40rem){
    .nav-mobile{
        transform: translateX(0%);
    }
}